PORT=5000
MONGO_DB_NAME=DB_23IT010
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
MONGO_URI_USER_READONLY=mongodb+srv://user_23IT010_readonly:<password>@<cluster>/DB_23IT010
MONGO_URI_USER_WRITEONLY=mongodb+srv://user_23IT010_writeonly:<password>@<cluster>/DB_23IT010
